[buildout]
develop = .
parts = interpreter test
extensions = buildout.dumppickedversions
versions = versions

[versions]


[interpreter]
recipe = zc.recipe.egg
eggs = dolmen.collection
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = dolmen.collection [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c', '--udiff', '--package=zeam.form.base']

